---
import { getRelativeLocaleUrl } from "astro:i18n";
import Html from "@layouts/Html.astro";
import Header from "@components/Header.astro";
import Button from "@components/Button.astro";
import OutlinedButton from "@components/OutlinedButton.astro";
import Input from "@components/Input.astro";
import Footer from "@components/Footer.astro";
import AndroidIcon from "@assets/android.svg";
import GradleIcon from "@assets/gradle.svg";
import ReactIcon from "@assets/react.svg";
import JavaIcon from "@assets/java.png";
import LibgdxIcon from "@assets/libgdx.png";
import LaravelIcon from "@assets/laravel.svg";
import AstroIcon from "@assets/astro.svg";
import TypeScriptIcon from "@assets/typescript.svg";
import PhpIcon from "@assets/php.svg";
import VueIcon from "@assets/vuedotjs.svg";
import SendIcon from "@assets/send.svg";
import FirebaseIcon from "@assets/firebase.svg";
import ComposeIcon from "@assets/jetpackcompose.svg";
import SassIcon from "@assets/sass.svg";
import KotlinIcon from "@assets/kotlin.svg";
import BocchiBurgerImage from "@assets/bocchi_burger.webp";
import FoxyGif from "@assets/foxy.gif";
import { getLocaleFromUrl, localeStaticPaths, useTranslations } from "@i18n/translate";
import ContactForm from "@components/ContactForm.astro";
import FeaturedProjects from "@components/FeaturedProjects.astro";
import { Image } from "astro:assets";

export const getStaticPaths = localeStaticPaths
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<Html>
	<div class="hero-wrapper" style="position: relative">
		<!-- <Image class="wallpaper" src={Wallpaper} alt="Wallpaper"></div>
		<div class="wallpaper-dim"></div> -->

		<div class="background-animation">
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>

			<script>
				const backgroundAnimation = document.querySelector(".background-animation")!!
				const squares = document.querySelectorAll(".square")
				const a = 400;
				const b = 80;

				document.addEventListener("mousemove", (event) => {
					backgroundAnimation.style.backgroundPositionX = `${-event.x / 35 - window.innerWidth / (a * 2)}px`;
					backgroundAnimation.style.backgroundPositionY = `${-event.y / 35 - window.innerHeight / (a * 2)}px`;

					for(const square of squares) {
						square.style.transform = `translateX(${event.x / b - window.innerWidth / (b * 2)}px) translateY(${event.y / b - window.innerHeight / (b * 2)}px)`
					}
				});
			</script>
		</div>

		<Image 
			src={FoxyGif}
			class="foxy"
			alt="Foxy pixel art running animation" />

		<Header style="position: absolute" />

		<div class="hero">
			<!-- A hacky hack to fit content -->
			<Header style={{ opacity: 0, pointerEvents: "none" }} />

			<div class="hero-content">
				<h3 class="label">{t("home_label")}</h3>
				<h1 class="title">{t("home_title")}</h1>
				<h3 class="description">{t("home_description")}</h3>

				<div class="actions">
					<a href={getRelativeLocaleUrl(locale, "projects")}>
						<Button text="See projects" />
					</a>

					<a href={getRelativeLocaleUrl(locale, "contact")}>
						<OutlinedButton text={t("contact_me")} />
					</a>
				</div>
			</div>
		</div>

		<script>
			const hero = document.querySelector(".hero-content")!!;

			document.addEventListener("scroll", () => {
				hero.style.translate = `0 ${window.scrollY / 3}px`;
				hero.style.opacity = 1 - window.scrollY / 800;
			});
		</script>
	</div>

	<div class="section section-dim">
		<div class="section-content">
			<div class="section-header">
				<hr />
				<h2 class="section-title">My skills</h2>
				<hr />
			</div>

			<div class="skills">
				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(76%) sepia(98%) saturate(364%) hue-rotate(76deg) brightness(90%) contrast(90%);"
						src={AndroidIcon} 
						alt="Android" />
					
					<span class="skill-tooltip">Android</span>
				</div>
					
				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(71%) sepia(54%) saturate(7404%) hue-rotate(200deg) brightness(96%) contrast(99%);"
						src={ComposeIcon} 
						alt="Jetpack Compose / Compose Multiplatform" />

					<span class="skill-tooltip">Jetpack Compose / Compose Multiplatform</span>
				</div>
					
				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(38%) sepia(100%) saturate(1941%) hue-rotate(253deg) brightness(96%) contrast(94%);"
						src={AstroIcon} 
						alt="Astro" />

					<span class="skill-tooltip">Astro</span>
				</div>

				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(62%) sepia(16%) saturate(4819%) hue-rotate(114deg) brightness(107%) contrast(60%);"
						src={VueIcon} 
						alt="Vue" />

					<span class="skill-tooltip">Vue</span>
				</div>

				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(74%) sepia(75%) saturate(603%) hue-rotate(163deg) brightness(101%) contrast(97%);"
						src={ReactIcon} 
						alt="React / React Natvie" />

					<span class="skill-tooltip">React / React Native</span>
				</div>

				<div class="skill">
					<Image
						src={LibgdxIcon} 
						alt="LibGDX" />

					<span class="skill-tooltip">LibGDX</span>
				</div>

				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(25%) sepia(100%) saturate(4701%) hue-rotate(6deg) brightness(108%) contrast(104%);"
						src={LaravelIcon} 
						alt="Laravel" />

					<span class="skill-tooltip">Laravel</span>
				</div>

				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(12%) sepia(60%) saturate(1621%) hue-rotate(160deg) brightness(95%) contrast(98%);"
						src={GradleIcon} 
						alt="Gradle" />
					
					<span class="skill-tooltip">Gradle</span>
				</div>

				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(37%) sepia(95%) saturate(536%) hue-rotate(174deg) brightness(95%) contrast(87%);"
						src={TypeScriptIcon} 
						alt="TypeScript" />

					<span class="skill-tooltip">TypeScript</span>
				</div>

				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(37%) sepia(65%) saturate(4680%) hue-rotate(240deg) brightness(103%) contrast(103%);"
						src={KotlinIcon}
						alt="Kotlin" />

					<span class="skill-tooltip">Kotlin</span>
				</div>

				<div class="skill">
					<Image
						src={JavaIcon} 
						alt="Java" />

					<span class="skill-tooltip">Java</span>
				</div>

				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(48%) sepia(3%) saturate(4960%) hue-rotate(199deg) brightness(101%) contrast(87%);"
						src={PhpIcon} 
						alt="PHP" />

					<span class="skill-tooltip">PHP</span>
				</div>

				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(53%) sepia(51%) saturate(555%) hue-rotate(279deg) brightness(86%) contrast(83%);"
						src={SassIcon} 
						alt="Scss" />
					
					<span class="skill-tooltip">Scss</span>
				</div>

				<div class="skill">
					<Image
						style="filter: brightness(0) saturate(100%) invert(19%) sepia(65%) saturate(4528%) hue-rotate(12deg) brightness(96%) contrast(103%);"
						src={FirebaseIcon} 
						alt="Firebase" />

					<span class="skill-tooltip">Firebase</span>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="section-content">
			<div class="section-header">
				<hr />
				<h2 class="section-title">{t("aboutme")}</h2>
				<hr />
			</div>

			<div class="aboutme">
				<p class="aboutme-text">{t("aboutme_description")}</p>
				
				<Image 
					alt="Bocchi eats burger"
					class="aboutme-image"
					src={BocchiBurgerImage} />
			</div>
		</div>
	</div>

	<div class="section section-dim">
		<div class="section-content projects">
			<div class="section-header">
				<hr />
				<h2 class="section-title">{t("my_projects")}</h2>
				<hr />
			</div>

			<FeaturedProjects />
		</div>
	</div>

	<div class="section">
		<div class="section-content contact">
			<div class="section-header" style="margin-bottom: .4rem">
				<h2 class="section-title">{t("contact_me")}</h2>
				<hr />
			</div>

			<ContactForm />
		</div>
	</div>

	<Footer />
</Html>

<style lang="scss">
	.hero-wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overflow: hidden;
		padding-bottom: 4rem;

		.foxy {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 10rem;
			height: auto;
			animation: foxyRunAnimation 30s ease-in infinite;
		}

		@keyframes foxyRunAnimation {
			0% {
				left: -500rem;
			}

			100% {
				left: 10000vw;
			}
		}
	}

	.wallpaper {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -999;
	}

	.wallpaper-dim {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: .8;
		z-index: -999;
	}
	
	.hero {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-grow: 1;
	}

	.hero-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: .4rem;
		width: 100%;
		max-width: 800px;
		padding: 2rem;
	}

	.label {
		color: #e159ff;
		text-shadow: rgba(229, 111, 255, 0.75) 0 0 1rem;
		font-weight: 600;
		text-align: center;
		font-size: 1.325em;
		margin-bottom: .1rem;
		font-family: "Nunito", sans-serif;

		@media screen and (max-width: 500px) {
			padding-inline: 2rem;
		}
	}

	.title {
		text-align: center;
		font-weight: 900;
		font-size: 2.5em;
		text-shadow: rgba(255, 255, 255, .35) 0 0 .5em;
	}

	.description {
		font-size: 1.2em;
		margin-top: .4rem;
		max-width: 500px;
		line-height: 1.4em;
		font-weight: 500;
		text-align: center;
		color: #eedefa;
		text-shadow: rgba(255, 255, 255, .5) 0 0 1em;
	}

	.actions {
		margin-top: 1rem;
		display: flex;
		gap: .8rem;

		@media screen and (max-width: 450px) {
			padding-inline: 2rem;
			width: 100%;
			flex-direction: column;

			& > * > * {
				width: 100%;
			}
		}

		@media screen and (max-width: 300px) {
			padding-inline: 0;
			width: 100%;
			flex-direction: column;
		}
	}

	@mixin squareAnimation($id, $fromRotate, $rotate) {
		@keyframes #{$id} {
			0% {
				opacity: 0;
				translate: 0 150%;
				rotate: $fromRotate;
			}
		
			25% {
				opacity: .02;
			}
		
			100% {
				opacity: .1;
				translate: 0 0;
				rotate: $rotate;
			}
		}
	}

	.background-animation {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-image: radial-gradient(transparent 90%, rgba(255, 255, 255, .1) 100%);
		background-size: 20px 20px;
		overflow: hidden;

		@mixin square($size, $id, $duration, $fromRotate, $rotate) {
			border: solid rgba(240, 87, 255, .5) 5px;
			background-color: rgba(240, 87, 255, .2);
			opacity: .1;
			width: $size;
			height: $size;
			position: absolute;
			border-radius: 10px;
			rotate: $rotate;
			@include squareAnimation(squareAnimation#{$id}, $fromRotate, 0);
			animation: squareAnimation#{$id} $duration;
		}

		.square {
			&:nth-child(1) {
				@include square(175px, 4, 1s, -50deg, 200deg);
				left: 5%;
				bottom: 0%;
			}

			&:nth-child(2) {
				@include square(125px, 1, 1s, 0deg, -300deg);
				left: 20%;
				top: 15%;
			}

			&:nth-child(3) {
				@include square(200px, 3, 1.3s, 0deg, -100deg);
				left: 45%;
				bottom: 30%;
			}

			&:nth-child(4) {
				@include square(120px, 2, 1.2s, -90deg, 10deg);
				right: 15%;
				bottom: 10%;
			}

			&:nth-child(5) {
				@include square(110px, 5, 1.3s, 0deg, -300deg);
				top: 5%;
				right: 10%;
			}
		}
	}

	.section {
		width: 100%;
		display: flex;
		justify-content: center;

		&.section-dim {
			background-color: rgba(0, 0, 0, .2);
		}

		.section-content {
			width: 100%;
			max-width: 800px;
			padding: 2rem 2rem;
		}

		.section-header {
			display: flex;
			align-items: center;
			gap: 2rem;
			padding-block: 1rem;

			.section-title {
				font-size: 2em;
				text-shadow: 0 0 1em rgba(255, 255, 255, 0.25);
			}

			hr {
				flex-grow: 1;
				height: 1px;
				opacity: .25;
				scale: 1 .5;
				color: rgb(249, 180, 255);
			}
		}
	}

	.contact {
		margin-bottom: 1.4rem;
	}

	.projects {
		margin-bottom: 1rem;

		.section-title {
			margin-bottom: 1rem;
		}
	}

	.skills {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(3.75rem, 1fr));
		gap: 1.6rem;
		margin-top: 1rem;
		margin-bottom: 1rem;

		.skill {
			display: flex;
			justify-content: center;
			position: relative;
			z-index: 1;

			img {
				height: 3rem;
				width: auto;
			}

			.skill-tooltip {
				pointer-events: none;
				scale: .75;
				opacity: 0;
				background-color: #d883ff;
				color: black;
				font-weight: 600;
				position: absolute;
				padding-block: .35rem;
				padding-inline: 1rem;
				border-radius: .5rem;
				top: 100%;
				left: 0;
				translate: -25%;
				z-index: 1;
				transition: .1s;
			}

			&:hover {
				z-index: 2;

				.skill-tooltip {
					scale: 1;
					opacity: 1;
				}
			}
		}
	}

	.aboutme {
		display: flex;
		gap: 4rem;
		margin-block: .8rem 1.6rem;

		.aboutme-text {
			font-size: 1.05em;
			line-height: 1.8em;

			span {
				color: #f2b9ff;
			}
		}

		.aboutme-image {
			height: max-content;
			border-radius: 1rem;
		}

		@media screen and (min-width: 800px) {
			.aboutme-text {
				width: 0;
				flex-grow: 1;
			}

			.aboutme-image {
				width: 0;
				flex-grow: 1;
			}
		}

		@media screen and (max-width: 800px) {
			flex-direction: column;

			.aboutme-image {
				width: 100%;
			}
		}
	}
</style>