---
import { ClientRouter } from 'astro:transitions'

interface Props {
	title: string,
	description: string
}

const { title, description } = Astro.props
---

<meta name="generator" content={Astro.generator} />
<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes "/>
		
<title>{title}</title>
<meta name="application-name" content={title} />
<meta name="apple-mobile-web-app-title" content={title} />
<meta property="og:title" content={title} />
<meta property="og:site_name" content="mrboomdev.ru" />
<meta property="og:url" content="https://mrboomdev.ru" />
<link rel="canonical" href="https://mrboomdev.ru" />
		
<meta name="description" content={description} />
<meta property="og:description" content={description} />
<meta name="keywords" content="Awery, Anime, Android, FNaF, Five Nights at Freddys, MrBoomDeveloper, MrBoomDev, MrBoom, App, Watch, Free, Dantotsu, Aniyomi" />

<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />

<meta name="color-scheme" content="dark">
<meta name="theme-color" content="#11071f" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="darkreader-lock" />
<ClientRouter />