---
import Head from '@components/Head.astro';

// Fix for missing style property on elements
declare global {
	interface Element {
		style: any
	}
}

type Props = {
	title?: string,
	description?: string
}

const { 
	title = "MrBoomDev - Frontend Developer", 
	description = "I am a front-end developer who creates stylish and powerful sites and games without pc! From React to the LibGDX." 
} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<Head title={title} description={description} />
	</head>

	<body>
		<div class="pointer-decorator-wrapper">
			<span class="pointer-decorator" style="opacity: 0"></span>
		</div>

		<script>
			const pointerDecorator = document.querySelector(".pointer-decorator")!!
			
			document.addEventListener("mousemove", (event) => {
				pointerDecorator.style.left = `${event.x}px`;
				pointerDecorator.style.top = `${event.y}px`;
			});

			document.addEventListener("mouseleave", () => {
				pointerDecorator.style.opacity = 0;
			});

			document.addEventListener("mouseenter", () => {
				pointerDecorator.style.opacity = 1;
			});

			document.addEventListener("mouseover", (event) => {
				pointerDecorator.style.opacity = 1;
				pointerDecorator.style.left = `${event.x}px`;
				pointerDecorator.style.top = `${event.y}px`;
			});
		</script>

		<slot />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	*, *::before, *::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		width: 100vw;
		overflow-x: hidden;
		background-color: #11071f;
		color: #ffffff;
	}

	a {
		text-decoration: none;
		font-family: poppins, sans-serif;
	}

	::selection {
		background-color: rgb(255, 182, 255);
		color: black;
	}
</style>

<style lang="scss">
	.pointer-decorator-wrapper {
		z-index: -1;
		position: fixed;
		inset: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	
	.pointer-decorator {
		display: block;
		height: 100%;
		aspect-ratio: 1;
		background-image: radial-gradient(rgba(237, 97, 255, 0.01) 0%, transparent 70%);
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
		transition: all .1s, opacity .5s;
	}
</style>